# Candidato: Gabriel Guidoni

In [1]:
import pandas as pd
import plotly.express as px

In [2]:
cat_school_raw = pd.read_csv("base_de_dados/cat_school_data.csv", sep=";")
num_student_raw = pd.read_csv("base_de_dados/num_student_data.csv", sep=";")

## num_school

In [3]:
num_student_raw

      school  student  variable      value
1          1    143.0  normexam  0,2613242
2          1    145.0  normexam  0,1340672
3          1    142.0  normexam  -1,723882
4          1    141.0  normexam  0,9675862
5          1    138.0  normexam  0,5443412
...      ...      ...       ...        ...
8114      65     46.0  standLRT  1,8588312
8115      65     59.0  standLRT   -1,03397
8116      65     60.0  standLRT  0,4537562
8117      65     61.0  standLRT  -0,786016
8118      65     56.0  standLRT  -1,364576

[8118 rows x 4 columns]

In [4]:
num_student = num_student_raw.rename(columns={"value":"normexam"})
num_student = num_student[num_student["variable"] == "normexam"]
num_student = num_student.drop(columns=["student", "variable"])
num_student["normexam"] = pd.to_numeric(num_student["normexam"].str.replace(",", "."), errors="coerce")
num_student = num_student.groupby("school", dropna=True, as_index=False).mean()

num_student

    school  normexam
0        1  0.509098
1        2  0.783102
2        3  0.877417
3        4  0.073629
4        5  0.384903
..     ...       ...
60      61 -0.072856
61      62  0.037990
62      63  0.735678
63      64  0.343794
64      65 -0.292505

[65 rows x 2 columns]

## cat_school

In [5]:
cat_school_raw

     school variable  value
0         1  schgend  mixed
1         2  schgend  girls
2         3  schgend  mixed
3         4  schgend  mixed
4         5  schgend  mixed
..      ...      ...    ...
125      61     type    Mxd
126      62     type    Mxd
127      63     type    Mxd
128      64     type   Sngl
129      65     type   Sngl

[130 rows x 3 columns]

In [6]:
cat_school = cat_school_raw.rename(columns={"value":"schgend"})
cat_school = cat_school[cat_school["variable"] == "schgend"]
cat_school = cat_school.drop(columns="variable")

cat_school

    school schgend
0        1   mixed
1        2   girls
2        3   mixed
3        4   mixed
4        5   mixed
..     ...     ...
60      61   mixed
61      62   mixed
62      63   mixed
63      64    boys
64      65   girls

[65 rows x 2 columns]

## Concluindo

In [7]:
df_final = pd.merge(num_student, cat_school, on="school")

df_final.head()

   school  normexam schgend
0       1  0.509098   mixed
1       2  0.783102   girls
2       3  0.877417   mixed
3       4  0.073629   mixed
4       5  0.384903   mixed

In [ ]:
title = "Distribuicao das  normalizadas do exame por tipo de escola"
fig = px.box(df_final, x="schgend", y="normexam", points="all", title=title)
fig.show()

- As medianas das notas normalizadas sao:
    - apenas mulheres: 0.062
    - apenas homens:  -0.130
    - genero misto: -0.134

In [9]:
df_media = df_final.groupby("schgend", as_index=False).mean().sort_values("normexam", ascending=False)
df_mediana = df_final.groupby("schgend", as_index=False).median().sort_values("normexam", ascending=False)

display(df_media)
display(df_mediana)

# Podemos ver que a media confirma a ordem da mediana

  schgend     school  normexam
1   girls  32.050000  0.137471
0    boys  39.200000 -0.048408
2   mixed  31.771429 -0.108418

  schgend  school  normexam
1   girls    30.5  0.062348
0    boys    38.5 -0.130384
2   mixed    32.0 -0.133915

# Resposta    
- Portanto a eficiencia das escolas na formacao de seus alunos segue a seguinte ordem: escolas com apenas mulheres sao melhores que as com apenas homens, que por sua vez sao melhores que as de genero misto. (mulheres>homens>misto)

### Observacoes
- os demais datasets entregues nao foram necessarios para a solucao do problema proposto, porem foram tratados no arquivo exploring.ipynb
- o presente notebook pode ser encontrado e sua forma completa no github do seguinte link: